* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(237, 226, 222);
    color: #333;
    text-align: center;
    font-size: 16px;
    padding: 30px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header {
    margin-bottom: 50px;
}

#quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    min-height: 500px;
    padding: 20px;
    border: 1px solid #000;
}

#start {
    padding: 10px 20px;
    border-radius: 20px;
    color: #333;
    background-color: antiquewhite;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#submit {
    padding: 10px 20px;
    border-radius: 20px;
    color: #333;
    background-color: antiquewhite;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#options {
    display: flex;
    justify-content: center;
}

.option {
    padding: 5px 10px;
    border-radius: 20px;
    color: #333;
    background-color: antiquewhite;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}