* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #fdeae3;
    color: #333;
    text-align: center;
    font-size: 16px;
    padding: 30px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #333;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Italiana', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.7em;
    line-height: 1.2;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header {
    margin-bottom: 50px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 550px;
    min-height: 500px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px;
    border: 1px solid #000;
}

#start {
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: #333;
    background-color: #DDF638;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#start:hover {
    background-color: #000;
    color: #fff;
}

/* #submit {
    padding: 10px 20px;
    border-radius: 20px;
    color: #333;
    background-color: antiquewhite;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
} */

#options-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.option {
    padding: 15px 20px;
    border-radius: 30px;
    width: 200px;
    font-size: .8em;
    color: #333;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.option:hover {
    background-color: #000;
    color: #fff;
}

.green {
    background-color: #DDF638;
    padding: 15px 20px;
    border-radius: 30px;
    width: 200px;
    font-size: .8em;
    color: #333;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.red {
    background-color: #F15A22;
    padding: 15px 20px;
    border-radius: 30px;
    width: 200px;
    font-size: .8em;
    color: #ffffff;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}